/* Generel */

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(101, 91, 255);
}


/* Navigation bar */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commonNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    background-color: white;
    font-size: 20px;
    color: rgb(66, 66, 66);
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    border: 2px solid white;
    border-radius: 10px;

    transition: all 0.5s ease-in-out;

    margin: 10px 10px 10px 10px;
}

li a:hover {
    background-color: rgb(138, 146, 255);
    border: 2px solid rgb(138, 146, 255);
    color: white;
}

.menu a {
    background-color: rgb(138, 146, 255);
    border: 2px solid rgb(138, 146, 255);
    border-radius: 5px 10px 5px 10px;
    color: white;

    transition: all 0.5s ease-in-out;

    margin: 10px 10px 10px 10px;
}


/* Search bar and log in btn */

.searchFieldPlusLogIn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchField {
    background-color: white;
    border-radius: 10px;

    margin: 0px 10px 0px 10px;
}

.searchInput {
    width: 300px;
    background-color: white;
    font-size: 20px;
    border: none;
    outline: none;

    margin: 17px 12px 17px 15px;
}

.searchButton {
    background-color: rgb(101, 91, 255);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;

    transition: all 0.5s ease-in-out;

    padding: 10px 15px 10px 15px;
    margin: 0px 7px 0px 5px;
}

.searchButton:hover {
    background-color: rgb(138, 146, 255);

    transition: all 0.5s ease-in-out;
}

.logInButton {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0));
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;

    margin: 0px 10px 0px 10px;
}

.logInImage {
    width: 43px;

    margin: 4px 6px 4px 6px;
}


/* Burger menu */

.burgerMenu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* Section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 8% 0px 5% 0px;
}



/* Section, Menu */

.menuDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    background-color: rgb(101, 91, 255);
    border: none;
    border-radius: 15px;

    padding: 20px 10px 20px 10px;
}

.posN {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 700px;
    background-color: rgb(145, 137, 255);
    border: 4px solid rgb(145, 137, 255);
    border-radius: 4px;
    color: white;

    margin: 5px 5px 5px 5px;
}

.pNImg {
    width: 450px;
    border-radius: 10px;

    margin: 25px 0px 0px 0px;
}

.pNTitle {
    font-size: 22px;
    font-weight: bold;

    margin: 20px 0px 15px 0px;
}

.pNIngr {
    font-size: 20px;
    
    margin: 0px 25px 0px 25px;
}

.pNPortion {
    font-size: 20px;
    text-decoration: underline;

    margin: 15px 0px 0px 0px;
}

.prDecoration {
    background-color: white;
    border: 2px solid white;
    color: rgb(66, 66, 66);
    border-radius: 5px;

    padding: 5px 15px 5px 15px;
    margin: 40px 0px 0px 0px;
}

.prPN {
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline; */
}


/* Media query */

@media (max-width: 1400px) {

    /* Navbar */

    .searchField {
        display: none;
    }
    

    /* Daily menu */

    .dailyMenuTitle {
        font-size: 22px;
    }

    .posN {
        width: 350px;
    }

    .pNImg {
        width: 300px;
    }

}

@media (max-width: 860px) {
    
    /* Daily menu */

    .posN {
        height: 570px;
    }

    .pNTitle {
        font-size: 20px;
    }

    .pNIngr, .pNPortion, .prPN {
        font-size: 18px;
    }

}

@media (max-width: 700px) {

    /* Navbar */

    .commonNav {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(101, 91, 255);
        width: 100%;
        text-align: center;
        transition: 0.3s ;

        padding: 20px 0px 20px 0px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .commonNav.active {
        left: 0;
    }

    .menu a {
        background-color: rgb(101, 91, 255);
        color: white;
        border: none;
        text-decoration: underline;
    }

    li a {
        background-color: rgb(101, 91, 255);
        color: white;
        border: none;
    }

    li a:hover {
        background-color: rgb(101, 91, 255);
        color: white;
        border: none;
    }


    /* Burger menu */

    .burgerMenu {
        display: block;
        margin: 0px 0px 0px 10px;
    }

    .burgerMenu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burgerMenu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burgerMenu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

@media (max-width: 600px) {
    
    /* Daily menu */

    .posN {
        width: 300px;
        height: 510px;
    }

    .pNImg {
        width: 250px;
    }

    .pNTitle {
        font-size: 16px;
    }

    .pNIngr, .pNPortion, .prPN {
        font-size: 16px;
    }

}

